{% extends "megagamesApp/base.html" %}

{% load static %}

{% block contenido %}


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'megagamesApp/img/megagames2.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Excelencia en video juegos digitales</span>
            <span class="section-heading-lower">De todo para su diversión</span>
          </h2>
          <p class="mb-3">   <p>Mega games es una empresa de venta de videojuegos, donde tenemos las mejores ofertas en cuanto a venta de juegos digitales.
            <br>
            <br>
            Los formatos de venta que tenemos son juegos para PC, XBOX y PlayStation.
            <br>
            <br>
            También contamos con una categoria de figuras de acción, tanto de animé como de peliculas reconocidas.
<br>
            La pagina estará en constante actualización de sus videojuegos, donde podrán estar al tanto en las redes sociales de la empresa.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Mega Games lleva más de 26 años en el comercio de video juegos digitales, con muchas notas positivas de parte de sus clientes, una pagina totalmente confiable y accesible al publico.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}

