<table class="table table-bordered" style="
color: rgba(255, 255, 255, 0.7); 
background-color: rgba(18, 82, 140 , 0.8);
font-family:'Helvetica';
margin-left: 10px;">

        <thead>

            <tr>

                <th colspan="3" class="text-center">
                    Carrito Compras

                </th>
                

            </tr>

            <tr>
                <th>Juego</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>

        </thead>

        <tbody style="background-color: rgba(56, 106, 157, 0.8);">
            {% if request.session.cart.items %}

                {% for key, value in request.session.cart.items %}
                    <tr class="text-center">

                        <td>{{value.nombre}}</td>
                        <td>{{value.cantidad}}</td>
                        <td>
                            
                            <a href="{% url 'cart:agregar' value.producto_id %}" class="btn btn-sm btn-success" style="
                                background-color: rgba(18, 82, 140 , 0.8);
                                border-color: #1E5B99 ;">+</a>

                            <a href="{% url 'cart:restar' value.producto_id %}" class="btn btn-sm btn-success" style="
                                background-color: rgba(18, 82, 140 , 0.8);
                                border-color: #1E5B99 ;">-</a><br>
                            {{value.precio}} CLP
                        </td>

                    </tr>

                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="3">
                        <div class="alert alert-danger text-center" 
                        style="
                        color: rgba(255, 255, 255, 0.7); 
                        background-color: rgba(18, 82, 140 , 0.8);
                        font-family:'Helvetica';
                        ">
                            ¡No has agregado productos!
                        </div>

                    </td>
                </tr>
                
            {% endif %}

        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="
                color: rgba(255, 255, 255, 0.7); 
                background-color: rgba(18, 82, 140 , 0.8);
                font-family:'Helvetica';
                ">
                    
                    <a href="#" onclick="mostrarMensaje()">Pagar Total: {{ importe_total_carro }} CLP</a>

                    <script>
                    function mostrarMensaje() {
                        alert('¡Gracias por tu compra!');
                    }
                    </script>
                </td>
            </tr>
        </tfoot>
        
            
</table>